@charset "utf-8";
/* CSS Document */
.footer-top{width:100%;height:112px;background-image: url(../images/loginjiao.png)}
.footer-bottom{width: 100%;height:100px; background-color:#282c30;}
.fj{width:1200px;margin:0px auto;padding-top:20px;}
.fj p{color:white;margin-left:400px;font-size: 12px;font-weight: lighter;}